@charset "UTF-8";

@font-face {
    font-family: "Roboto regular";
    src: url(fuentes/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Bold";
    src: url(fuentes/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto italic";
    src: url(fuentes/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto medium";
    src: url(fuentes/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto medium italic";
    src: url(fuentes/Roboto-MediumItalic.ttf);
    font-weight: normal;
    font-style: italic;
}


main {
    width: 100%;
}

body {
    background-color: #0D0D0D;
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


h1 {
    font-family: 'Roboto Black', sans-serif;
    color: #F2561D;
    font-size: 230px;
    text-align: center;
    text-shadow: -1px -1px 0 #0D0D0D, 1px -1px 0 #0D0D0D, -1px 1px 0 #0D0D0D, 1px 1px 0 #0D0D0D;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Roboto Bold', sans-serif;
    color: #f77749;
    font-size: 100px;
    text-align: center;
    line-height: 1.2; 
    text-shadow: -1px -1px 0 #0D0D0D, 1px -1px 0 #0D0D0D, -1px 1px 0 #0D0D0D, 1px 1px 0 #0D0D0D;
    padding: 0;
    margin: 0;
}

.titulos-seccion {
       font-family: 'Roboto Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    line-height: 1.2;
    margin: 20px 0;
    background-color: #F2561D;
    color: #0D0D0D;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 3%;
}

h3 {
    font-family: 'Roboto medium', sans-serif;
    color: #BFBFBF;
    font-size: 24px;
    line-height: 1rem;
    padding-top: 2%;
}


p {
    font-family: 'Roboto regular', sans-serif;
    color: #BFBFBF;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
}


ul {
    display: flex;
    font-family: 'Roboto Bold', sans-serif;
    color: #BFBFBF;
    font-size: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

footer ul {
    display: flex;
    margin-top: -10px;
}

#frase {
    font-size: 5vh;
    text-align: center;
    background: linear-gradient(45deg, #0D0D0D, #F2561D);
    font-style: italic;
    width: 100%;
    position: relative;
    padding-bottom: 3%;
    padding-top: 3%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

nav {
    display: flex;
    gap: 35px;
    font-family: 'Roboto Bold', sans-serif;
    align-items: center;
    padding-left: 1.2%;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: #F2561D;
}


#texto-principal {
    text-align: center;
    line-height: 1.7rem;
}


#entrada {
    background-image: url(fotos/op1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#entrada h1,
#entrada h2 {
    margin: 0;
}


#mi-historia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    
}


#mi-historia .texto {
    text-align: left;
}

#principal {
    text-align: center;
}

.fila-exp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center
}

#diseños {
    width: 100%;
    overflow: hidden;
}

.item-galeria {
    width: 200px;
    text-align: center;
}

.item-galeria img {
    width: 100%;
    height: auto;
}

.contenedor-programas {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.programas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catedra,
.redes {
    text-align: center;
    font-family: 'Roboto regular', sans-serif;
}

#experiencia,
#diseños,
#habilidades {
    margin-top: 70px;
}

.sobre-mi {
    display: flex;
    align-items: center; 
    gap: 40px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}


#texto {
    max-width: 600px; 
    text-align: left;
}

#principal {
    text-align: left;
}

h2 {
    margin-bottom: 40px;
}

.item-exp {
    width: 250px;
    text-align: left;
}

.item-galeria p {
    font-family: 'Roboto Medium', sans-serif;
}

